# Allow non-root users start Nimbus builds and manage service with sudo.

# {{ validator_client_service_name }}
%{{ validator_client_group }} ALL= NOPASSWD: /usr/bin/systemctl *status {{ validator_client_service_name }}*
%{{ validator_client_group }} ALL= NOPASSWD: /usr/bin/systemctl *start {{ validator_client_service_name }}*
%{{ validator_client_group }} ALL= NOPASSWD: /usr/bin/systemctl *stop {{ validator_client_service_name }}*
%{{ validator_client_group }} ALL= NOPASSWD: /usr/bin/systemctl *restart {{ validator_client_service_name }}*
# build-{{ validator_client_service_name }}
%{{ validator_client_group }} ALL= NOPASSWD: /usr/bin/systemctl *status build-{{ validator_client_service_name }}*
%{{ validator_client_group }} ALL= NOPASSWD: /usr/bin/systemctl *start build-{{ validator_client_service_name }}*
%{{ validator_client_group }} ALL= NOPASSWD: /usr/bin/systemctl *stop build-{{ validator_client_service_name }}*
%{{ validator_client_group }} ALL= NOPASSWD: /usr/bin/systemctl *restart build-{{ validator_client_service_name }}*
